extends layout

block content
  h1= Shim2k
  if (session !== user)
    p !{user.username}'s profile
      li
        a(href='/user=#{user.username}/follow?value=yes') Follow
  if (session == user)
    p Welcome, !{user.username}
  p Post count: !{user.post_count}
  a(href='/user=#{user.username}/following') Following:
    !{user.following.length}
  br
  br
  a(href='/user=#{user.username}/followers') Followers:
    !{user.followers.length}
  if (session == user)
    br
    br
    a(href='/new') Post
  br
  br
  a(href='/logout?value=yes') Logout
  br
  if (typeof posts !== "undefined")
    if (posts.length > 0)
      h2
        p posts
      for post in posts
        li
          p
          a(href='/post=#{post.id}') !{post.title}
    br
    if (session !== user)
      a(href='/') Home
      br
      br

    if (session == user)
      p Follow users:
      for user in users
        if (user.username !== session.username)
          li
            a(href='/user=#{user.username}') !{user.username}
