extends layout

block content
  h1= Shim2k
  if (typeof posts !== 'undefined')
    for post in posts
      h2 !{post.title}
      p !{post.content}
      for tag in post.tags
        button.btn.btn-default.btn-sm(type='button') !{tag}
      //if (typeof post.tags !== "undefined")
      //  for tag in post.tags
      //    p !{tag}
